.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5em;
}

.gallery img {
  width: 100%;
}

@media (max-width: 1050px) {
  
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
  }

}

.image-card {
  position: relative;
  width: 400px;
  height: 250px;
  display: block;
  color: black;
}

.image-card:hover .image-title {
  opacity: 1;
}

.image-title {
  position: absolute;
  background: #fffd;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  font-family: "Megaten 20XX";
  
  display: grid;
  place-items: center;
  transition: all .25s;
}

img {
  display: block;
}

body
{
padding-left: 50px ;
padding-right: 50px ;
background-color: #ade8f4;
}
h1{
  font-family: "Megaten 20xx";
  font-size: 20px;
}
nav{
  font-family: "Megaten 20XX";
  font-size: 16px;

  float: right;

}
@import url(//db.onlinewebfonts.com/c/677ec9b580b3863bf9b73ae5dc65f8c8?family=Megaten+20XX);
@font-face {font-family: "Megaten 20XX"; src: url("//db.onlinewebfonts.com/t/677ec9b580b3863bf9b73ae5dc65f8c8.eot"); src: url("//db.onlinewebfonts.com/t/677ec9b580b3863bf9b73ae5dc65f8c8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/677ec9b580b3863bf9b73ae5dc65f8c8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/677ec9b580b3863bf9b73ae5dc65f8c8.woff") format("woff"), url("//db.onlinewebfonts.com/t/677ec9b580b3863bf9b73ae5dc65f8c8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/677ec9b580b3863bf9b73ae5dc65f8c8.svg#Megaten 20XX") format("svg"); }